{% set active_page = "leaderboard" %}
{% include "header.html" %}
{% include "navbar.html" %}

  <div class="container">

    <div style="margin-bottom:100px"></div>

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div id="bodyContent" name="bodyContent">
        <h1>Leaderboards</h1>
        <hr />
        {% if userinfo != None %}
        <h3>Your points: {{ userinfo['exp'] }} [{{ userinfo['rank'] }}]</h3>
        {%endif%}

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Placement</th>
              <th>Name</th>
              <th>Rank</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            {% for lead in leads %}
              <tr>
                <td>{{loop.index}}</td>
                <td><a href="{{url_for('users.profile', name=lead['name'])}}">{{ lead['name'] }}</a></td>
                <td>
                  <img src="/static/images/{{ranks[lead['rank']]['image']}}" width="32px" height="32px" />
                  {{lead['rank']}}
                </td>
                <td>{{ lead['exp'] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

{% include "footer.html" %}