{% set active_page = "profile" %}
{% set title = user.name %}
{% include "header.html" %}
{% include "navbar.html" %}

  <div class="container">

    <div style="margin-bottom:100px"></div>

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div id="bodyContent" name="bodyContent">
        <h1> {{ user.name }} </h1>
        <h2> {{ user.rank }} - {{ user.exp }} points </h2>
        <hr />
        <style>
        .challenge-block {
          display:inline-block;
          width:150px;
          text-align:center;
          background-color:#ab0000;
          font-size:12pt;
          padding-left:3px;
          padding-right:3px;
        }
        .challenge-block, .challenge-block a {
          color:white;
        }
        .challenge-solved {
          background-color:#209e00;
        }
        .challenge-unsolved {
          background-color:#ab0000;
        }
        .points {
          font-size:80%;
          margin-top:-10px;
        }
        </style>

        {% for category in missions %}
        <div class="row">
          <div class="col-sm-3"><h4> {{category | title | replace('_', ' ')}}  </h4></div>
          <div class="col-sm-9">
            {% for mission in missions[category] %}
              <div class="challenge-block {% if user[missions[category][mission]['name']] %} challenge-solved {% endif %}">
                <a href="{{url_for('challenges.view_category', category=category, name=mission)}}">{{missions[category][mission]['title'] }}</a><div class="points">({{missions[category][mission]['exp'] }} points)</div></div>
            {% endfor %}
          </div>
        </div>
        <hr />
        {% endfor %}
{% include "footer.html" %}
