{% set active_page = "profile" %}
{% set title = user.name %}
{% include "header.html" %}
{% include "navbar.html" %}
  <div class="container">

    <div style="margin-bottom:100px"></div>

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div id="bodyContent" name="bodyContent">
        <h1> {{ user.name }} </h1>
        <h2> {{ user.rank }} - {{ user.exp }} points </h2>
        <hr />
        {% for category in missions %}
        <div class="row">
          <div class="col-sm-3"><h4> {{category | title | replace('_', ' ')}}  </h4></div>
          <div class="col-sm-9">
            <div class="container">
            {% for mission in missions[category] %}
              <div class="col-md-3">
                <a href="#">
                <div class="panel challenge-panel {% if user[missions[category][mission]['name']] %}panel-success panel-bg-success{%else%}panel-danger panel-bg-danger{%endif%}">
                  <div class="challenge-title">{{ missions[category][mission]['title'] }}</div>
                  <div class="challenge-points">{{ missions[category][mission]['exp'] }}</div>
                </div>
                </a>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <hr />
        {% endfor %}
{% include "footer.html" %}
