{% set active_page = "learn" %}
{% include "header.html" %}
{% include "navbar.html" %}

  <div class="container">

    <div style="margin-bottom:100px"></div>

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div id="bodyContent" name="bodyContent">
        <h1>Learn</h1>
        <hr />

        <h2>This page is currently under development.</h2>
        
        <hr />
        <p>Copyright &copy; 2017. All content including challenges, images, and descriptions are owned by Netcat.us</p>
      </div>
    </div>

  </div> <!-- /container -->
{% include "footer.html" %}
