# Navlinks basically is the category list. No spaces before/after ","
[Navigation]
navlinks: basic,intermediate,advanced,crypto,forensics,steganography,reverse_engineering,realistic


# Missions are only loaded if they can be found in the links item. 
# No spaces before/after ","
[basic]
links: basic1,basic2,basic3,basic4

######################
##Demo Mission Entry##
######################
# [demo_mission]
# name: Name needs to match the [section] 
# title: Title for challenge listings
# description: Description on the challenge list, no HTML
# exp: How many points the user gets for solving
# type: This needs to match one of the category sections
# flag: The code the user needs to enter
# link: If you provide any extra files like a binary or image link it here
# docker: The path to the folder with the Dockerfile for this challenge, if any
# ports: 1234:5678 # first is the port on the docker-machine, second is the
#                    exposed port on netcat.us


[basic1]
name: basic1
title: Noob Test
description: Retrieve the password..
exp: 50
type: basic
flag: 123456
link: None


[basic2]
name: basic2
title: Backtrace
description: fopen: could not open file '/www/htdocs/basic/just/gonna/put/this/here/password.txt';
exp: 50
type: basic
link: None
flag: e891870b70d0bb0c50c8a7ecd4ed3feb

[basic3]
name: basic3
title: Do the Robot
description: Do the robot! Stop some web crawlers! Find My Password!
exp: 50
type: basic
link: None
flag: b6ea508f6efba82e9c18485321fb426e

[basic4]
name: basic4
title: Learn 2 Netcat
description: Use netcat to retrieve that password.
exp: 50
type: basic
link: None
flag: 69e0f71f25ece4351e4d73af430bec43
docker: /root/discordctf/basic4
ports: 9999:9999

[basic5]
name: basic5
title: Binary Reversing
description: reverse the binary file and find the flag
exp: 0
type: basic
link: //netcat.us/static/basic5.bin
flag: fivehundredandtwelve


[advanced]
links: advanced1,advanced2,advanced3,advanced4

[advanced1]
name: advanced1
title: Buffer Overflow 3
description: Solve the maze and exploit the service.
exp: 500
type: advanced
link: //netcat.us/static/saugud.elf
flag: wowcongratsyournotanoob1
docker: /root/discordctf/missions/adv1
ports: 9999:9000

[advanced2]
name: advanced2
title: Fuck JavaScript
description: Hack into the Ubuntu 16.04 nodejs box and retrieve the password.
exp: 300
type: advanced
link: None
flag: 587a6c61736852756c657a
docker: /root/discordctf/missions/adv2
ports: 4885:7777

[advanced3]
name: advanced3
title: Robot City
description: Automate or Die.
exp: 300
type: advanced
link: //netcat.us/static/robot_city
flag: nx_c4nt_4t0p_m3
docker: /root/discordctf/missions/adv3
ports: 2000:2222

[advanced4]
name: advanced4
title: Bleed the Stack
description: An amateur programmer decides that for his hello world program, he will echo whatever you say. Can you find his mistake?
exp: 200
type: advanced
link: None
flag: ***REMOVED***
docker: /root/discordctf/adv4
ports: 7070:7070

[intermediate]
links: intermediate1,intermediate2,intermediate3,intermediate4,intermediate5,intermediate6,intermediate7,captcha3

[intermediate1]
name: intermediate1
title: Buffer Overflow 1
description: Overflow the character buffer.
exp: 150
type: intermediate
link: None
flag: overflowyourmomsbox
docker: /root/discordctf/inter1
ports: 9091:9091

[intermediate2]
name: intermediate2
title: Buffer Overflow 2
description: The flag is somewhere in the binary.
exp: 200
type: intermediate
link: //netcat.us/static/bof
flag: j3l4k5jk3l45j345jl345j34lk5j
docker: /root/discordctf/missions/inter2
ports: 5000:5000

[intermediate3]
name: intermediate3
title: User Agent
description: Change your user-agent to gotcharules then visit /user-agent
exp: 150
type: intermediate
link: //netcat.us/user-agent
flag: Agent007

[intermediate4]
name: intermediate4
title: Captcha 1
description: Defeat the Captcha challenge and retrieve the flag.
exp: 200
type: intermediate
link: http://netcat.us:6655
flag: U_R_NOT_HUM4N
docker: /root/discordctf/captcha
ports: 80:6655

[intermediate5]
name: intermediate5
title: Captcha 2
description: Defeat the Captcha challenge and retrieve the flag.
exp: 200
type: intermediate
link: http://netcat.us:8765
flag: xMosaku55
docker: /root/discordctf/captcha2
ports: 8765:8765

[intermediate6]
name: intermediate6
title: Temporary Notes
description: Become an admin on the temporary notes system to read flag.txt.
exp: 200
type: intermediate
link: None
flag: ***REMOVED***
docker: /root/discordctf/missions/NoteService
ports: 80:4455

[intermediate7]
name: intermediate7
title: Crack this
description: Intermediate 7
exp: 100
type: intermediate
link: //netcat.us/static/crackme.txt
flag: nicejob!

[captcha3]
name: captcha3
title: 3D Captcha
description: You've got half a second to break the captcha image. Keep in mind there are more ways to break a captcha than just reading it.
exp: 200
type: intermediate
link: http://netcat.us:6656
flag: BUT_C4CHING_IS_G00D_4_PERFORMANCE
docker: /root/discordctf/missions/captcha3/
ports: 80:6656

[crypto]
links: crypto1,crypto2,crypto3,crypto4,crypto5,crypto6,crypto7,crypto8


[crypto1]
name: crypto1
title: Crypto 1
description: c2VyaW91c2x5aWhhdmV0b2FkZHRoaXNmb3JuZXdwZW9wbGU=
exp: 50
type: intermediate
link: None
flag: seriouslyihavetoaddthisfornewpeople

[crypto2]
name: crypto2
title: Crypto 2
description: MFXG65DIMVZG63TFN5THI2DFONSWC3TPORUGK4TPNZSW6ZTUNBSXGZLBNZXXI2DFOJXW4ZLPMZ2GQZLTMVQW433UNBSXE33OMVXWM5DIMVZWKYLON52GQZLSN5XGK33GORUGK43FMFXG65DIMVZG63TFN5THI2DFONSWC3TPORUGK4TPNZSW6ZTUNBSXGZLBNZXXI2DFOJXW4ZLPMZ2GQZLTMVQW433UNBSXE33OMVXWM5DIMVZWKYLON52GQZLSN5XGK33GORUGK43F
exp: 50
type: intermediate
link: None
flag: anotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneofthese

[crypto3]
name: crypto3
title: XOR
description: The key is: gotcharules. BA4aGgcUChoeERsOHA==
exp: 200
type: intermediate
link: None
flag: canyouxorthis

[crypto4]
name: crypto4
title: AES or Not?
description: We intercepted a message going to the server. Apparently the message is encrypted with AES256 CBC using PKCS#7 padding and encoded in base64.Your mission is to decrypt the intercepted message.Intercepted message: SNXIDUFQW0Ul6GXI4NyU/LMHl+vRlVIYp4pvFstfpP1n1C9Xhbl/bNip6mK5l7TMPS+vw247XTYK3LKIGT4AZVh6zUB97fN3fOamkLvzpmA=
exp: 400
type: crypto
link: None
flag: UCOABHBjCzDvzewPFQr2BVqI0ZD4e8mv
docker: /root/discordctf/missions/crypto4
ports: 6767:6767

[crypto5]
name: crypto5
title: Alien Pig Latin
description: A group of Alien l33t 53p4k pig latin speakers Encrypted a string with hex, binary, and base 64....Backwards.  Here was the result: =EDMwETMxADMgETMxATMxADMgADMwADMxADMgADMxATMxADMgETMwATMxADMgADMwADMxADMgATMxATMxADMgATMxATMxADMgADMwADMxADMgADMxADMxEDMgATMwATMxADMgADMwADMxADMgETMwATMxADMgETMwATMxADMgADMwADMxADMgETMwADMxEDMgATMxATMxADMgADMwADMxADMgADMxATMxADMgATMxATMxADMgADMwADMxADMgADMxATMxADMgATMxATMxADMgADMwADMxADMgEDMwATMxADMgETMwATMxADMgADMwADMxADMgATMwATMxADMgETMxATMxADMgADMwADMxADMgEDMwETMxADMgETMxATMxADMgADMwADMxADMgEDMxADMxEDMgATMxATMxADMgADMwADMxADMgEDMxADMxEDMgATMxATMxADMgADMwADMxADMgEDMxATMxADMgETMxATMxADM
exp: 200
type: crypto
link: None
flag: funnyriddle

[crypto6]
name: crypto6
title: Crypto 6
description: Decrypt the image and retrieve the password
exp: 200
type: crypto
link: //netcat.us/static/harder.encrypted
flag: DO_YOU_LIKE_CARETS?

[crypto7]
name: crypto7
title: Crypto 7
description: 0a081a09101c1a0f02011703111b070510... All you know is: it is a repeating key XOR, but the key is unknown
exp:  400
type: crypto
link: None
flag: iguessucanxorthis

[crypto8]
name: crypto8
title: RSA Exam
description: Prove your skills in RSA.
exp: 300
type: crypto
link: None
flag: 1_h0p3_y0u_l1k3_v13nn4_54u54635
docker: /root/discordctf/missions/crypto8
ports: 31337:6666


[forensics]
links: forensics1,forensics2,forensics3

[forensics1]
name: forensics1
title: Forensics 1
description: Analyze the provided pcap and retrieve the password.
link: //netcat.us/static/forensics1.pcap
exp: 100
type: forensics
flag: 05fb917b1661c17a77aa3df24da2b1d9

[forensics2]
name: forensics2
title: Bugs Bunny
description: Analyze the provided core dump and retrieve the password.
link: //netcat.us/static/core
exp: 200
type: forensics
flag: D3BU66ER5_4R3_PHUN

[forensics3]
name: forensics3
title: Kill the C2
description: Decode the traffic to find the flag. As the target site is down where you would get this information, you will need to perform a dictionary attack to decrypt the private key. The key is is a 6 letter lower-case English word.
link: //netcat.us/static/goodluck.pcap
exp: 300
type: forensics
flag: gu7:};;[k;[

[steganography]
links: steganography1,steganography2,steganography3,steganography4

[steganography1]
name: steganography1
title: He is Handsome
description: retrieve the password from the picture file.
link: //netcat.us/static/picture.jpeg
exp: 100
type: steganography
flag: paindonthurt

[steganography2]
name: steganography2
title: Stegano2
description: What the eyes see the mind believes(Transparency), find the password! 
link: //netcat.us/static/images/meow.png
exp: 300
type: steganography
flag: 5fNPyMFC9WcHQs6f3y7Ow2l5yWwjS87g

[steganography3]
name: steganography3
title: Stegano3
description: Never gonna give you up! Retrieve the password!
link: //netcat.us/static/NeverGonnaGiveYouUp.wav
exp: 500
type: steganography
flag: NinjaSpaceKittens

[steganography4]
name: steganography4
title: Stegano4
description: 
link: //netcat.us/static/Main.jpg
exp: 500
type: steganography
flag: YouBeast!120
docker: /root/discordctf/stegno4
ports: 9304:9304


[realistic]
links: realistic1

[realistic1]
name: realistic1
title: Drones
description: The electrical grid uses these drones to monitor their powerstations. See if you can hack in using them.
link: //netcat.us/drone/
exp: 300
type: realistic
flag: theelectricslide1

[reverse_engineering]
links: reverse_engineering1,reverse_engineering2

[reverse_engineering1]
name: reverse_engineering1
title: RE 1
description: Find the password hidden in the binary
link: //netcat.us/static/RE1.exe
exp: 100
type: reverse_engineering
flag: goodjob2

[reverse_engineering2]
name: reverse_engineering2
title: RE 2
description: Decompile the ELF. And discover the password
link: //netcat.us/static/goodluck.elf
exp: 100
type: reverse_engineering
flag: imimpressed
