# Navlinks basically is the category list. No spaces before/after ","
[Navigation]
navlinks: web,pwnables,crypto,reverse_engineering,steganography,miscellaneous

[web]
links: basic1,basic3,intermediate3,intermediate5,the_long_lost,captcha3,realistic1,longegg_research,intermediate4,intermediate6
[pwnables]
links: intermediate1,advanced4,advanced3,advanced1,profile_creator
[crypto]
links: crypto2,not_binary,crypto6,crypto8,crypto4
[reverse_engineering]
links: intermediate2,flag_bot,ready_player_one,reverse_engineering2
[steganography]
links: steganography1,steganography2,steganography4,steganography3
[miscellaneous]
links: basic4,intermediate7,forensics1,forensics2

[basic1]
name: basic1
title: Noob Test
description: Retrieve the password.
exp: 10
flag: 123456

[basic3]
name: basic3
title: Do the Robot
description: Do the robot! Stop some web crawlers! Find My Password!
exp: 10
flag: b6ea508f6efba82e9c18485321fb426e

[basic4]
name: basic4
title: Learn 2 Netcat
description: Use netcat to retrieve the password.
exp: 20
flag: 69e0f71f25ece4351e4d73af430bec43
docker: /var/www/netcat.us/missions/%(name)s
ports: 9999:9999

[advanced1]
name: advanced1
title: Pathfinder
description: Solve the maze and exploit the service.
exp: 250
flag: wowcongratsyournotanoob1
docker: /var/www/netcat.us/missions/%(name)s
ports: 9999:9000
files: saugud.elf

[advanced3]
name: advanced3
title: Robot City
description: Automate or Die.
exp: 150
flag: nx_c4nt_4t0p_m3
docker: /var/www/netcat.us/missions/%(name)s
ports: 2000:2222
files: robot_city
author: Specter, zi

[advanced4]
name: advanced4
title: Bleed the Stack
description: An amateur programmer decides that for his hello world program, he will echo whatever you say. Can you find his mistake?
exp: 100
flag: [redacted]
docker: /var/www/netcat.us/missions/%(name)s
ports: 7070:7070
author: Specter

[intermediate1]
name: intermediate1
title: A Thousand Characters
description: Overflow the character buffer.
exp: 20
flag: overflowyourmomsbox
docker: /var/www/netcat.us/missions/%(name)s
ports: 9091:9091

[intermediate2]
name: intermediate2
title: RE 101
description: The flag is somewhere in the binary.
exp: 50
flag: j3l4k5jk3l45j345jl345j34lk5j
files: bof

[intermediate3]
name: intermediate3
title: User Agent
description: Change your user-agent to gotcharules then visit /user-agent
exp: 20
server: https://{HOST}/user-agent
flag: Agent007
author: Gotcha

[intermediate4]
name: intermediate4
title: Captcha 1
description: Defeat the Captcha challenge and retrieve the flag.
exp: 350
flag: U_R_NOT_HUM4N
docker: /var/www/netcat.us/missions/%(name)s
ports: 80:6655
server: http://{HOST}:{PORT}
author: zi

[intermediate5]
name: intermediate5
title: Captcha 2
description: Defeat the Captcha challenge and retrieve the flag.
exp: 100
flag: xMosaku55
docker: /var/www/netcat.us/missions/%(name)s
ports: 8765:8765
server: http://{HOST}:{PORT}
author: xzlash

[intermediate6]
name: intermediate6
title: Temporary Notes
description: Become an admin on the temporary notes system to read flag.txt.
exp: 400
flag: [redacted]
docker: /var/www/netcat.us/missions/%(name)s
ports: 80:4455
server: http://{HOST}:{PORT}
author: zi

[intermediate7]
name: intermediate7
title: Crack this
description: Intermediate 7
exp: 50
files: crackme.txt
flag: nicejob!
author: NaCl

[captcha3]
name: captcha3
title: 3D Captcha
description: You've got half a second to break the captcha image. Keep in mind there are more ways to break a captcha than just reading it.
exp: 125
flag: BUT_C4CHING_IS_G00D_4_PERFORMANCE
docker: /var/www/netcat.us/missions/%(name)s
ports: 80:6656
server: http://{HOST}:{PORT}
author: zi

[crypto2]
name: crypto2
title: Encoding
description: MFXG65DIMVZG63TFN5THI2DFONSWC3TPORUGK4TPNZSW6ZTUNBSXGZLBNZXXI2DFOJXW4ZLPMZ2GQZLTMVQW433UNBSXE33OMVXWM5DIMVZWKYLON52GQZLSN5XGK33GORUGK43FMFXG65DIMVZG63TFN5THI2DFONSWC3TPORUGK4TPNZSW6ZTUNBSXGZLBNZXXI2DFOJXW4ZLPMZ2GQZLTMVQW433UNBSXE33OMVXWM5DIMVZWKYLON52GQZLSN5XGK33GORUGK43F
exp: 10
flag: anotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneofthese
author: Gotcha

[crypto4]
name: crypto4
title: AES or Not?
description: We intercepted a message going to the server. Apparently the message is encrypted with AES256 CBC using PKCS#7 padding and encoded in base64.Your mission is to decrypt the intercepted message.Intercepted message: SNXIDUFQW0Ul6GXI4NyU/LMHl+vRlVIYp4pvFstfpP1n1C9Xhbl/bNip6mK5l7TMPS+vw247XTYK3LKIGT4AZVh6zUB97fN3fOamkLvzpmA=
exp: 350
flag: UCOABHBjCzDvzewPFQr2BVqI0ZD4e8mv
docker: /var/www/netcat.us/missions/%(name)s
ports: 6767:6767
author: Jelle.V.D.

[crypto6]
name: crypto6
title: Carets
description: Decrypt the image and retrieve the password
exp: 200
files: harder.encrypted
flag: DO_YOU_LIKE_CARETS?
author: zi

[crypto8]
name: crypto8
title: RSA Exam
description: Prove your skills in RSA.
exp: 200
flag: 1_h0p3_y0u_l1k3_v13nn4_54u54635
docker: /var/www/netcat.us/missions/%(name)s
ports: 31337:6666
author: 0xjuw

[forensics1]
name: forensics1
title: pcap101
description: Analyze the provided pcap and retrieve the password. If you see the domain netcat.us replace that with hackers.gg.
files: forensics1.pcap
exp: 50
flag: 05fb917b1661c17a77aa3df24da2b1d9

[forensics2]
name: forensics2
title: Bugs Bunny
description: Analyze the provided core dump and retrieve the password.
files: core
exp: 200
flag: D3BU66ER5_4R3_PHUN
author: zi

[steganography1]
name: steganography1
title: He is Handsome
description: retrieve the password from the picture file.
files: picture.jpeg
exp: 50
flag: paindonthurt
author: NaCl

[steganography2]
name: steganography2
title: RGBA
description: What the eyes see the mind believes(Transparency), find the password! 
files: meow.png
exp: 50
flag: 5fNPyMFC9WcHQs6f3y7Ow2l5yWwjS87g
author: Jelle.V.D.

[steganography3]
name: steganography3
title: Rick Rolled
description: Never gonna give you up! Retrieve the password!
files: NeverGonnaGiveYouUp.wav
exp: 400
flag: NinjaSpaceKittens
author: NaCl and Jelle.V.D.

[steganography4]
name: steganography4
title: Never Ending
description: If you see the domain netcat.us replace that with hackers.gg.
files: Main.jpg
exp: 175
flag: YouBeast!120
docker: /var/www/netcat.us/missions/%(name)s
ports: 9304:9304
server: 

[realistic1]
name: realistic1
title: Drones
description: The electrical grid uses these drones to monitor their powerstations. See if you can hack in using them. If you see the domain netcat.us replace that with hackers.gg.
server: https://{HOST}/drone
exp: 250
flag: theelectricslide1
author: Gotcha, zi

[reverse_engineering2]
name: reverse_engineering2
title: NodeJS
description: Discover the password using any means necessary.
files: goodluck.elf
exp: 300
flag: imimpressed
author: xzlash

[profile_creator]
name: profile_creator
title: Profile Creator
description: I use this to track characters in my Netcat.us fanfics. It should be pretty secure but I'll let you judge that.
files: profile_creator,libc.so.6
exp: 350
flag: pwn1n6_50_345y_w17h_4ll_7h15_1nf0...
docker: /var/www/netcat.us/missions/%(name)s
ports: 31337:4141
author: 0xjuw

[flag_bot]
name: flag_bot
title: Forgetful Flag Bot
description: The flag is encrypted on the server, but no fear, the SSFFR is here!
exp: 125
flag: s0rry_1m_s0_f0rg3tful_:(
docker: /var/www/netcat.us/missions/%(name)s
ports: 9999:8999
files: ssffr
author: Specter

[not_binary]
name: not_binary
title: Binary?
description: Decode the cipher. Remember, looks can be deceiving: 0010101011000000011010110001000101101011100110011101000100100100010010001011010001101
exp: 50
flag:WELLTHISISFUN
author: PipeToGrep

[ready_player_one]
name: ready_player_one
title: Ready Player One
description: Find the Copper, Jade, and Crystal keys to unlock the flag.
exp: 275
flag: [redacted]
author: zi
files: readyplayerone.exe

[the_long_lost]
name: the_long_lost
title: The Long Lost
description: We've uncovered an ancient site, take a look around and see what you can find.
exp: 75
flag: ayy_web_exploitation_can_be_fun
author: PipeToGrep
docker: /var/www/netcat.us/missions/%(name)s
server: http://{HOST}:{PORT}
ports: 80:8006

[longegg_research]
name: longegg_research
title: Longegg Research
description: Bypass the authorization check and read the flag file
exp: 275
flag: meet_me_halfway
author: 🤔 ͌
server: http://{HOST}:{PORT}
docker: /var/www/netcat.us/missions/%(name)s
ports: 80:8007