# Navlinks basically is the category list. No spaces before/after ","
[Navigation]
navlinks: web,pwnables,crypto,reverse_engineering,steganography,miscellaneous

[web]
links: basic1,basic3,intermediate3,intermediate5,captcha3,realistic1,intermediate4,intermediate6
[pwnables]
links: intermediate1,advanced4,advanced3,advanced1,profile_creator
[crypto]
links: crypto2,crypto6,crypto8,crypto4
[reverse_engineering]
links: intermediate2,reverse_engineering2
[steganography]
links: steganography1,steganography2,steganography4,steganography3
[miscellaneous]
links: basic4,intermediate7,forensics1,forensics2

[basic1]
name: basic1
title: Noob Test
description: Retrieve the password.
exp: 10
flag: 123456
link: None

[basic3]
name: basic3
title: Do the Robot
description: Do the robot! Stop some web crawlers! Find My Password!
exp: 10
link: None
flag: b6ea508f6efba82e9c18485321fb426e

[basic4]
name: basic4
title: Learn 2 Netcat
description: Use netcat to retrieve the password.
exp: 20
link: None
flag: 69e0f71f25ece4351e4d73af430bec43
docker: /root/discordctf/basic4
ports: 9999:9999

[advanced1]
name: advanced1
title: Pathfinder
description: Solve the maze and exploit the service.
exp: 250
link: /static/saugud.elf
flag: wowcongratsyournotanoob1
docker: /root/discordctf/missions/adv1
ports: 9999:9000

[advanced3]
name: advanced3
title: Robot City
description: Automate or Die.
exp: 150
link: /static/robot_city
flag: nx_c4nt_4t0p_m3
docker: /root/discordctf/missions/adv3
ports: 2000:2222

[advanced4]
name: advanced4
title: Bleed the Stack
description: An amateur programmer decides that for his hello world program, he will echo whatever you say. Can you find his mistake?
exp: 100
link: None
flag: ***REMOVED***
docker: /root/discordctf/adv4
ports: 7070:7070

[intermediate1]
name: intermediate1
title: A Thousand Characters
description: Overflow the character buffer.
exp: 20
link: None
flag: overflowyourmomsbox
docker: /root/discordctf/inter1
ports: 9091:9091

[intermediate2]
name: intermediate2
title: RE 101
description: The flag is somewhere in the binary.
exp: 50
link: /static/bof
flag: j3l4k5jk3l45j345jl345j34lk5j
docker: /root/discordctf/missions/inter2
ports: 5000:5000

[intermediate3]
name: intermediate3
title: User Agent
description: Change your user-agent to gotcharules then visit /user-agent
exp: 20
link: /user-agent
flag: Agent007

[intermediate4]
name: intermediate4
title: Captcha 1
description: Defeat the Captcha challenge and retrieve the flag.
exp: 350
link: http::6655
flag: U_R_NOT_HUM4N
docker: /root/discordctf/captcha
ports: 80:6655

[intermediate5]
name: intermediate5
title: Captcha 2
description: Defeat the Captcha challenge and retrieve the flag.
exp: 100
link: http::8765
flag: xMosaku55
docker: /root/discordctf/captcha2
ports: 8765:8765

[intermediate6]
name: intermediate6
title: Temporary Notes
description: Become an admin on the temporary notes system to read flag.txt.
exp: 400
link: None
flag: ***REMOVED***
docker: /root/discordctf/missions/NoteService
ports: 80:4455

[intermediate7]
name: intermediate7
title: Crack this
description: Intermediate 7
exp: 50
link: /static/crackme.txt
flag: nicejob!

[captcha3]
name: captcha3
title: 3D Captcha
description: You've got half a second to break the captcha image. Keep in mind there are more ways to break a captcha than just reading it.
exp: 125
link: http::6656
flag: BUT_C4CHING_IS_G00D_4_PERFORMANCE
docker: /root/discordctf/missions/captcha3/
ports: 80:6656

[crypto2]
name: crypto2
title: Encoding
description: MFXG65DIMVZG63TFN5THI2DFONSWC3TPORUGK4TPNZSW6ZTUNBSXGZLBNZXXI2DFOJXW4ZLPMZ2GQZLTMVQW433UNBSXE33OMVXWM5DIMVZWKYLON52GQZLSN5XGK33GORUGK43FMFXG65DIMVZG63TFN5THI2DFONSWC3TPORUGK4TPNZSW6ZTUNBSXGZLBNZXXI2DFOJXW4ZLPMZ2GQZLTMVQW433UNBSXE33OMVXWM5DIMVZWKYLON52GQZLSN5XGK33GORUGK43F
exp: 10
link: None
flag: anotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneoftheseanotheroneofthese

[crypto4]
name: crypto4
title: AES or Not?
description: We intercepted a message going to the server. Apparently the message is encrypted with AES256 CBC using PKCS#7 padding and encoded in base64.Your mission is to decrypt the intercepted message.Intercepted message: SNXIDUFQW0Ul6GXI4NyU/LMHl+vRlVIYp4pvFstfpP1n1C9Xhbl/bNip6mK5l7TMPS+vw247XTYK3LKIGT4AZVh6zUB97fN3fOamkLvzpmA=
exp: 350
link: None
flag: UCOABHBjCzDvzewPFQr2BVqI0ZD4e8mv
docker: /root/discordctf/missions/crypto4
ports: 6767:6767

[crypto6]
name: crypto6
title: Carets
description: Decrypt the image and retrieve the password
exp: 200
link: /static/harder.encrypted
flag: DO_YOU_LIKE_CARETS?

[crypto8]
name: crypto8
title: RSA Exam
description: Prove your skills in RSA.
exp: 200
link: None
flag: 1_h0p3_y0u_l1k3_v13nn4_54u54635
docker: /root/discordctf/missions/crypto8
ports: 31337:6666

[forensics1]
name: forensics1
title: Forensics 1
description: Analyze the provided pcap and retrieve the password.
link: /static/forensics1.pcap
exp: 50
flag: 05fb917b1661c17a77aa3df24da2b1d9

[forensics2]
name: forensics2
title: Bugs Bunny
description: Analyze the provided core dump and retrieve the password.
link: /static/core
exp: 200
flag: D3BU66ER5_4R3_PHUN

[steganography1]
name: steganography1
title: He is Handsome
description: retrieve the password from the picture file.
link: /static/picture.jpeg
exp: 50
flag: paindonthurt

[steganography2]
name: steganography2
title: RGBA
description: What the eyes see the mind believes(Transparency), find the password! 
link: /static/images/meow.png
exp: 50
flag: 5fNPyMFC9WcHQs6f3y7Ow2l5yWwjS87g

[steganography3]
name: steganography3
title: Rick Rolled
description: Never gonna give you up! Retrieve the password!
link: /static/NeverGonnaGiveYouUp.wav
exp: 400
flag: NinjaSpaceKittens

[steganography4]
name: steganography4
title: Never Ending
description: 
link: /static/Main.jpg
exp: 175
flag: YouBeast!120
docker: /root/discordctf/stegno4
ports: 9304:9304

[realistic1]
name: realistic1
title: Drones
description: The electrical grid uses these drones to monitor their powerstations. See if you can hack in using them.
link: /drone/
exp: 250
flag: theelectricslide1

[reverse_engineering2]
name: reverse_engineering2
title: NodeJS
description: Discover the password using any means necessary.
link: /static/goodluck.elf
exp: 300
flag: imimpressed

[profile_creator]
name: profile_creator
title: Profile Creator
description: I use this to track characters in my Netcat.us fanfics. It should be pretty secure but I'll let you judge that.
link: /static/profile_creator.tar.gz
exp: 350
flag: pwn1n6_50_345y_w17h_4ll_7h15_1nf0...
docker: /root/discordctf/missions/profile_creator
ports: 31337:4141
