[recruit]
image:recruit.jpg
points:90
role:Recruit
name:Recruit

[private]
image:private.jpg
points:450
role:Private
name:Private

[corporal]
image:corporal.jpg
points:750
role:Corporal
name:Corporal

[sergeant]
image:sergeant.jpg
points:1100
role:Sergeant
name:Sergeant

[lieutenant]
image:lieutenant.png
points:1400
role:Lieutenant
name:Lieutenant

[captain]
image:captain.jpg
points:1750
role:Captain
name:Captain

[major]
image:major.jpg
points:2050
role:Major
name:Major

[colonel]
image:colonel.jpg
points:2400
role:Colonel
name:Colonel

[general]
image:general.jpg
points:2700
role:General
name:General

[** general]
image:2.jpg
points:3050
role:**
name:** General

[*** general]
image:3.png
points:3340
role:***
name:*** General

