[recruit]
points:60
name:Recruit
image:recruit.jpg
role:Recruit

[private]
points:300
name:Private
image:private.jpg
role:Private

[corporal]
points:500
name:Corporal
image:corporal.jpg
role:Corporal

[sergeant]
points:1000
name:Sergeant
image:sergeant.jpg
role:Sergeant

[lieutenant]
points:1250
name:Lieutenant
image:lieutenant.png
role:Lieutenant

[captain]
points:1450
name:Captain
image:captain.jpg
role:Captain

[major]
points:1650
name:Major
image:major.jpg
role:Major

[colonel]
points:2250
name:Colonel
image:colonel.jpg
role:Colonel

[general]
points:2500
name:General
image:general.jpg
role:General

[** general]
points:3000
name:** General
image:2.jpg
role:**

[*** general]
points:3500
name:*** General
image:3.jpg
role:***
