[recruit]
image:recruit.jpg
points:90
role:Recruit
name:Recruit

[private]
image:private.jpg
points:500
role:Private
name:Private

[corporal]
image:corporal.jpg
points:950
role:Corporal
name:Corporal

[sergeant]
image:sergeant.jpg
points:1350
role:Sergeant
name:Sergeant

[lieutenant]
image:lieutenant.png
points:1750
role:Lieutenant
name:Lieutenant

[captain]
image:captain.jpg
points:2150
role:Captain
name:Captain

[major]
image:major.jpg
points:2550
role:Major
name:Major

[colonel]
image:colonel.jpg
points:2950
role:Colonel
name:Colonel

[general]
image:general.jpg
points:3350
role:General
name:General

[** general]
image:2.jpg
points:3750
role:**
name:** General

[*** general]
image:3.png
points:4140
role:***
name:*** General