{% set active_page = "admin" %}
{% set title = filename + " Config" %}
{% include "header.html" %}
{% include "navbar.html" %}
  <style>
  textarea {
    font-size:10pt;
    line-height:100%;
    width:100%;
  }
  </style>
  <div class="container">
    <div style="margin-bottom:100px"></div>
    <!-- Jumbotron -->
    <div class="jumbotron">
      <div id="bodyContent" name="bodyContent">
        {% include "flash.html" %}
        <div class="row"><h1>Edit {{filename}}</h1></div>
        <form method="POST" action="{{url_for('admin.save_config', file=filename)}}">
          <input type="hidden" name="csrf_token" value="{{CSRF_TOKEN}}"/>
          <textarea id="content" rows=25 name="content">{{content}}</textarea>
          <input type="submit" value="Save!" class="btn btn-block btn-success" />
        </form>        
{% include "footer.html" %}