
        <hr />
        <p>Copyright &copy; {{NOW.year}}. All content including challenges, images, and descriptions are owned by {{HOST|title}}</p>
      </div>
    </div>
  </div> <!-- /container -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108203375-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108203375-1');
</script>
<!-- jQuery Version 1.11.1 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap Core Intermediate -->
<script src="/static/js/bootstrap.js"></script>

</body>
</html>