<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/welcome">Hackers.gg</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="{% if active_page == 'home' %}active{%endif%}"><a href="/">Welcome</a></li>
          <li class="{% if active_page == 'challenges' %}active{%endif%}"><a href="{{url_for('challenges.view_category')}}">Challenges</a></li>
          <li class="{% if active_page == 'ranks' %}active{%endif%}"><a href="{{url_for('users.ranks')}}">Ranks</a></li>
          <li class="{% if active_page == 'leaderboard' %}active{%endif%}"><a href="{{url_for('users.leaderboard')}}">Leaderboards</a></li>
          <li class="{% if active_page == 'learn' %}active{%endif%}"><a href="/learn">Learn</a></li>
          {%if userinfo != None %}
          <li class="dropdown btn-success">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ userinfo['name'] }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('oauth.logout')}}">Logout</a></li>
              <li><a href="{{url_for('users.profile', name=userinfo['name'])}}">Profile</a></li>
            </ul>
          </li>
          {%if 'is_staff' in userinfo %}
          <li class="dropdown {% if active_page == 'admin' %}active{%endif%}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('admin.view_containers')}}">Challenge Status</a></li>
              <li><a href="{{url_for('admin.view_config', file='missions')}}">Mission Config</a></li>
              <li><a href="{{url_for('admin.view_config', file='ranks')}}">Rank Config</a></li>
            </ul>
          </li>
          {%endif%}
          {%else%}
          <li class="btn-danger"><a href="/login">Login</a></li>
          {%endif%}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>